In [1]:
# importamos pandas
import pandas as pd

In [33]:
# importamos el csv a usar
df = pd.read_csv('Coursera_reviews.csv')

In [34]:
# hacemos un conteo de los valores vacios que se tiene en las columnas
df.isnull().sum()

reviews         140
reviewers         0
date_reviews      0
rating            0
course_id         0
dtype: int64

In [35]:
# eliminamos todos los valores vacios de la columna
df = df[df['reviews'].notna()]

In [36]:
# verificamos si aun nos queda los valores nulos en el df
df.isnull().sum()

reviews         0
reviewers       0
date_reviews    0
rating          0
course_id       0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1454571 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454571 non-null  object
 2   date_reviews  1454571 non-null  object
 3   rating        1454571 non-null  int64
 4   course_id     1454571 non-null  object
dtypes: int64(1), object(4)
memory usage: 66.6+ MB

In [38]:
# convertimos el tipo de dato a datetime para poder cargarlo directamente y poder filtrar por fecha
df['date_reviews'] = pd.to_datetime(df['date_reviews'])

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1454571 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454571 non-null  object
 2   date_reviews  1454571 non-null  datetime64[ns]
 3   rating        1454571 non-null  int64
 4   course_id     1454571 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 66.6+ MB

In [42]:
# eliminamos los valores duplicados
df = df.drop_duplicates()

In [43]:
df

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,2020-02-12,4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,2020-09-28,4,google-cbrs-cpi-training
2,Information was perfect! The program itself wa...,By Jacob D,2020-04-08,4,google-cbrs-cpi-training
3,A few grammatical mistakes on test made me do ...,By Dale B,2020-02-24,4,google-cbrs-cpi-training
4,Excellent course and the training provided was...,By Sean G,2020-06-18,4,google-cbrs-cpi-training
...,...,...,...,...,...
1454636,amazing,By FANISHA A A,2020-10-10,5,computer-networking
1454639,great,By Ilona Y Z,2020-10-07,5,computer-networking
1454642,Nice,By Aung T K,2020-10-10,5,computer-networking
1454643,Good,By Anthony N S,2020-10-08,5,computer-networking
1454644,good,By Kasirivu A K,2020-10-07,5,computer-networking

In [44]:
df.reviews = df.reviews.replace({".": 'sin comentario', '"': 'sin comentario', '-': 'sin comentario'})

C:\Users\pc\AppData\Local\Temp\ipykernel_7204\3786477539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.reviews = df.reviews.replace({".": 'sin comentario', '"': 'sin comentario', '-': 'sin comentario'})

In [18]:
# exportamos el df con un simbolo de separacion para obtener la mayoria de datos
df.to_csv('coursera_reviews_c2.csv', sep="{", index=False)